
body{
  background-color: black;
}

li{
  display: inline-block;
  margin: 8px;
  justify-content: center;
}

ul{
  border: 2px black;
}

nav{
  background-color: white;
  display: flex;
  justify-content: center;
}

/* Nav bar styling */

.navBar{
  background-color: yellow;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  font-size: larger;
}

/* container that contains the search bar styling */
.searchform {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* search bar styling */
.searchbar {
  width: 50%;
  border: none;
  padding: 15px;
}

/* trending gif styling */
.trends{
  color: black;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  height: none;

}

/* closes trending gif styling */
.homeButton {
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/* footer styling */
.footerParent {
  background-color: yellow;
  display: flex;
  justify-content: center;
  font-size: 10px;

}

/* gif rendering container and sizing styling */
.renderContainer {
 margin: 80px;
  
}
.sameSize{
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 25px 10px;

}
/* ends container styling */

/* how to styling */
.instructions{
  color: white;
}

.centerInstructions {
  display: flex;
  justify-content: center;
}

.steps {
  display: flex;
  justify-content: center;
}

/* end how to styling */