.navBar{
  background-color: yellow;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  font-size: larger;
}

#app{
  background-color: black;
  height: 100vh;
}

.searchform {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  width: 50%;
  border: none;
  padding: 15px;
}

.searchbutton {
  background-color: gray;
  border: none;
  padding: 15px 20px;
  
}