.navBar{
  background-color: yellow;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  font-size: larger;
}

#app{
  background-color: black;
  height: 100vh;
}

/* .search {
  
  justify-content: center;
  padding-top: 5px;
} */
.searchbar {
  width: 50%;
  border: none;
  padding: 10px;
}

.searchbutton {
  background-color: black;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}
